<h1>New user</h1>

<%= form_with model: User.new do |f| %>
  <p>
    <%= f.text_field :name, placeholder: 'Name' %>
  </p>
  <p>
    <%= f.rich_text_area :bio %>
  </p>
  <p>
    <%= f.file_field :avatar %>
  </p>
  <p>
    <%= f.file_field :files, multiple: true, direct_upload: true %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
